p {
    font: 1rem 'Roboto', sans-serif;
}

h2 {
    font: 800 2rem 'Assistant', sans-serif;
    margin: 0;
}

.subtitle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}

.publicationInfo {
    margin: 0.5rem 0;
}

.slug {
    font: 800 1rem 'Assistant', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: rebeccapurple;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-right: 0.5rem;
}

.date {
    color: grey;
}

.content ul {
    font: 1rem 'Roboto', sans-serif;
    margin-top: -1rem;
}

.content ul li {
    margin-left: 1rem;
    list-style-type: disc;
}

.related {
    border-top: 1px solid lightgrey;
}

.relatedGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
}

.relatedItem {
    width: 100%;
    padding: 0.5rem;
}

@media only screen and (max-width: 960px) {
    .relatedGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .relatedGrid {
        grid-template-columns: 1fr;
    }
}
