.title {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 40%;
}

form div {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	width: 50%;
}

form div.large {
	width: 100%;
}

form label {
	padding: 0.2rem 0;
	font: 800 1.2rem 'Assistant', sans-serif;
}

form input {
	border: none;
	border-bottom: 0.2rem solid var(--main-color);
	padding: 0.2rem 0;
	font: 1.1rem 'Roboto', sans-serif;
}

form input:invalid {
	box-shadow: none;
}

form textarea {
	border-color: var(--main-color);
	padding: 0.2rem 0;
	font: 1.1rem 'Roboto', sans-serif;
}

form textarea:invalid {
	box-shadow: none;
}

form button {
	font: 800 1rem 'Assistant', sans-serif;
	text-transform: uppercase;
	width: 20%;
	margin: 0 auto;
	padding: 0.5rem;
	background-color: var(--main-color);
	color: white;
	border: none;
	cursor: pointer;
}
