ul {
  margin: 0;
}

li {
  list-style-type: none;
}

article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section {
  padding: 1rem;
}

@media only screen and (max-width: 960px) {
  article {
    grid-template-columns: 1fr;
  }
}
