ul {
    margin: 0;
}

li {
    list-style-type: none;
}

article {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

section {
    padding: 1rem;
}

@media only screen and (max-width: 1400px) {
    article {
        width: 85%;
    }
}

@media only screen and (max-width: 960px) {
    article {
        width: 100%;
    }
}
