.donut {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
}

.donut .background {
  stroke: lightgrey;
}

.donut .full {
  stroke: rebeccapurple;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dasharray 2s ease;
}
