.donut {
    display: block;
    margin: auto;
    width: fit-content;
}

.donut svg {
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
}

.donut svg .background {
    stroke: lightgrey;
}

.donut svg .full {
    stroke: rebeccapurple;
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dasharray 2s ease;
}
