.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 0;
}

.item {
	width: 100%;
	padding: 0;
	cursor: zoom-in;
}

@media only screen and (max-width: 1200px) {
	.grid {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 960px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 600px) {
	.grid {
		grid-template-columns: 1fr;
	}
}
