.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 42;
    cursor: pointer;
}

.cache {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	transition: 0.3s ease-out;
}

.lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 90%;
    background: white;
    z-index: 42;
    cursor: default;
    transition: 0.3s ease-out;
}

.close {
    font: 3rem 'Assistant';
    line-height: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    color: var(--main-color);
    cursor: pointer;
}
/*
@media only screen and (max-width: 1600px) {
    .lightbox {
        width: 70%;
    }
}

@media only screen and (max-width: 1200px) {
    .lightbox {
        width: 80%;
    }
}

@media only screen and (max-width: 960px) {
    .lightbox {
        width: 90%;
    }
} */
