.skills {
}

.skills .title {
    text-align: center;
}

.skills .container {
    position: relative;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (max-width: 960px) {
    /* .skills {
        width: 70%;
    } */
}

@media only screen and (max-width: 600px) {
    /* .skills {
        width: 100%;
    } */
    .skills .title {
        text-align: left;
    }
}
