.timeline {
    overflow: hidden;
}

.timeline .title {
    text-align: center;
}

.timeline .container {
    position: relative;
}

/* Line */
.timeline .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 3px;
    transform: translateX(-50%);
    background: lightgrey;
}

.timeline .item {
    position: relative;
    margin: 1.5rem 0 1.5rem;
    width: 40%;
    border: 0.2rem solid black;
}

.timeline .item:nth-child(even) {
    text-align: right;
    left: 5%;
    box-shadow: 0.3rem 0.3rem black;
}

.timeline .item:nth-child(odd) {
    left: 55%;
    box-shadow: -0.3rem 0.3rem black;
}

/* Circles */
.timeline .content::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--main-color);
}

.timeline .item:nth-child(odd) .content::after {
    left: calc(-12.5% - 0.2rem);
    transform: translate(-50%, -50%);
}

.timeline .item:nth-child(even) .content::after {
    right: calc(-12.5% - 0.3rem);
    transform: translate(50%, -50%);
}

.timeline .content {
    position: relative;
    padding: 1rem;
}

/* Arrows */
.timeline .content::before {
    content: '';
    position: absolute;
    top: 50%;
    height: 0.2rem;
    width: 12.5%;
    background: black;
    transform: translateY(-50%);
}

.timeline .item:nth-child(odd) .content::before {
    left: calc(-12.5% - 0.2rem);
}

.timeline .item:nth-child(even) .content::before {
    right: calc(-12.5% - 0.2rem);
}

.timeline .content h3 {
    margin: 0;
    font: 1.1rem 'Assistant', sans-serif;
}

.timeline .content .entity {
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--main-color);
}

.timeline .content .entity a {
    color: inherit;
    text-decoration: none;
}

.timeline .content .entity a:hover {
    color: black;
}

.timeline .content .dates {
    font: 800 1.2rem 'Assistant', sans-serif;
    text-transform: capitalize;
    color: white;
    background-color: var(--main-color);
    padding: 0.1rem;
    box-shadow: 0.2rem 0px 0px var(--main-color),
        -0.2rem 0px 0px var(--main-color);
    box-decoration-break: clone;
}

@media only screen and ((max-width: 1400px) and (min-width: 960px)),
    (max-width: 600px) {
    .timeline .container::before {
        left: 5%;
    }

    .timeline .item:nth-child(n) {
        width: 80%;
        left: 15%;
        right: auto;
        box-shadow: 0.3rem 0.3rem black;
        text-align: left;
    }

    .timeline .item:nth-child(n) .content::before {
        left: calc(-12.5% - 0.2rem);
    }

    .timeline .item:nth-child(n) .content::after {
        left: calc(-12.5% - 0.2rem);
        right: auto;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 960px) {
    .timeline .title {
        text-align: left;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
